body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    margin: 0px;
    height: max(100vw, 100vh);

}

.main-container {
    position: fixed;
    height: 50vh;
    width: 50vw;
    top: 25vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8AAB37;
    width: 100%;
    margin: 0px;
    height: 30%;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home-image {
    width: 60%;
}

.search {

}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.searchbar {
    width: 75%;
    height: 20px;
    border-radius: 8px;
    margin: 10px;
    padding: 3px;
}

.button {
    margin: 10px;
    border-radius: 8px;
    background-color: #8AAB37;
    border: none;
    padding: 6px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8AAB37;
    height: 10%;
    width: 100%;
}

@media (max-width: 480px) {

    .background-image {
        height: 0px;
    }

    .main-container {
        width: 100vw;
        height: 100vh;
        top: 0px;
        border: none;
    }

    .search-form {
        display: flex;
        flex-direction: column;
    }
}


