<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>About</title>
  <link th:href="@{/CSS/about.css}" rel="stylesheet">
</head>
<body>
<div class="main-container">
  <div class="header">
    <h1>Washington Trail Conditions</h1>
    <div class="header-actions">
      <form th:action="@{/home}"  method="post">
        <button class = "header-button" type="submit">Home</button>
      </form>
    </div>
  </div>
  <p>
    This website is not affiliates with Washington Trails Association (WTA) in any way, and was created
    exclusively for personal use.
  </p>
  <p>
    Trail data, such as coordinates and trail image, was scraped directly from the WTA website. New trails added
    after 2022 are not included in the trail database for this website.
  </p>
  <p>
    Trails with no write-up on the WTA website may not have an accompanying coordinate location. If the
    coordinate location is not given, a forecast cannot be provided and an error page will appear. In this
    case, other nearby well-documented trails may return a usable forecast.
  </p>
  <p>
    Weather data is provided by NOAA using the given trail coordinates. Air quality data is forecasted
     by the openweather air pollution API, and snow station data is provided by NOAA using real time
    snow station measurements.
  </p>
</div>
</body>
</html>