<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Washington Trail Conditions</title>
  <link th:href="@{/CSS/index.css}" rel="stylesheet">

</head>
<body>
<img th:src="@{/images/home-background.png}" class="background-image">
<div class="main-container">
  <h2>Washington Trail Conditions</h2>
  <div class="search">
    <form th:action="@{/search}" method="get" class="search-form">
      <input class="searchbar" type="text" name="keyword" th:value="${keyword}"  placeholder="Search for a trail..." size="50" >
      <button type="submit" class="button" >Search</button>
    </form>
  </div>
</div>
</body>
</html>