<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  <link th:href="@{/CSS/searchresults.css}" rel="stylesheet">
  <title>Search results</title>
</head>
<body>
<div class="whole-page">
  <div class="main-container">
    <div class="header">
      <h1>Washington Trail Conditions</h1>
      <div class="header-actions">
        <form th:action="@{/search}" method="get">
          <input class="searchbar" type="text" name="keyword" th:value="${keyword}"  placeholder="Search for a trail..." size="50" >
          <button type="submit" class="header-button" >Search</button>
          <button type="submit" class="header-button" >Reset</button>
        </form>
        <button class="header-button">Home</button>
      </div>
    </div>
    <h2 align="center">Search Results</h2>
    <table class="results-table">
      <tbody>
      <tr th:each="l : ${list}" th:field="${l}">
        <td>
          <div class="condition-form">
            <form th:action="@{/trail}" th:object="${trail}" method="post">
              <input type="hidden" name="id" th:value="${l.id}" />
              <button class = "trail-button" type="submit" th:text="${l.name}">Trail Name</button>
            </form>
          </div>
          <div class="region">
            <p th:text="${l.region}">this region value is very long lets see what happens</p>
          </div>
        </td>
        <td>
          <div class="wta-form">
            <form th:action="@{/redirect}" th:object="${trail}" method="post">
              <input type="hidden" name="link" th:value="${l.link}" />
              <button class = "wta-button" type="submit">View Trail Info</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>